In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model

#데이터로드 
data = pd.read_csv("data.csv", sep = ",")

#선형 회귀 모델
clf = linear_model.LinearRegression()

#설명 변수 x에 "x1"데이터를 사용
x = data.loc[:,['x1']].values

#목적 변수 y에 "x2"데이터를 사용
y = data['x2'].values

#예측 모델을 만듬 (단일회귀)
clf.fit(x,y)

#매개 변쉬( 회귀 계수, 절편)을 추출
[a] = clf.coef_
b = clf.intercept_

#매개변수 표시
print("회귀계수:", a)
print("절편:",b)
print("결정계수:",clf.score(x,y))

회귀계수: -0.04954809554551324
절편: 20.11975468043899
결정계수: 0.10943356354296829

3. 이산화 작업 : 데이터 마이닝을 위한 전처리 과정으로서 연속형 변수를 이산형 변수로 바꾸는 과정
      - 목적 :이산화 시킨 데이터가 원래 가지고 있던 정보 손실을 최소로 하면서 높은 분류정확도를 가지는 것을 목적
        
    -4단계 형식
    1)연속형 변수의 값을 이산화 하기 위해 정렬한다.
    2)합칠 인접한 구간을 정하거나 나누기 위한 분할점(cut-point)을 결정한다.
    3)기준(criterion)에 따라 연속형 값의 구간을 합치거나 나눈다.
    4)종료기준(stooping critertion)을 만족하면 이산화를 멈춘다.
    
    pandas.cut(대상데이터, bins_범주설정), pandas.qcut()
    pandas.cut(배열값, 분할 수) : 최대값, 최소값사이를 분할 한다.

In [7]:
#3-1)이산화 작업
#4
import pandas as pd
s = pd.Series(data = [x**2 for x in range(11)], index = list('abcdefghijk'))

#등분하자 
s_cut=pd.cut(s,4)
print(s_cut)
print(type(s_cut))

a     (-0.1, 25.0]
b     (-0.1, 25.0]
c     (-0.1, 25.0]
d     (-0.1, 25.0]
e     (-0.1, 25.0]
f     (-0.1, 25.0]
g     (25.0, 50.0]
h     (25.0, 50.0]
i     (50.0, 75.0]
j    (75.0, 100.0]
k    (75.0, 100.0]
dtype: category
Categories (4, interval[float64]): [(-0.1, 25.0] < (25.0, 50.0] < (50.0, 75.0] < (75.0, 100.0]]
<class 'pandas.core.series.Series'>

In [ ]:
#이산화 분할 경계값을 지정

In [9]:
#이산화_분할 경계값을 지정 후 경게값과 목록을 리턴받자
s_cut,bins = pd.cut(s,4,retbins=True)
print(s_cut)
print(bins)

a     (-0.1, 25.0]
b     (-0.1, 25.0]
c     (-0.1, 25.0]
d     (-0.1, 25.0]
e     (-0.1, 25.0]
f     (-0.1, 25.0]
g     (25.0, 50.0]
h     (25.0, 50.0]
i     (50.0, 75.0]
j    (75.0, 100.0]
k    (75.0, 100.0]
dtype: category
Categories (4, interval[float64]): [(-0.1, 25.0] < (25.0, 50.0] < (50.0, 75.0] < (75.0, 100.0]]
[ -0.1  25.   50.   75.  100. ]

In [12]:
#이산화 _분할 경계값을 지정 후 경계값과 목록을 리턴 받자
print(pd.cut(s,4,right=False))
#맨 오른쪽에 있는 최대 경계값은 최대값의 0.1% 증가값이 된다.

a      [0.0, 25.0)
b      [0.0, 25.0)
c      [0.0, 25.0)
d      [0.0, 25.0)
e      [0.0, 25.0)
f     [25.0, 50.0)
g     [25.0, 50.0)
h     [25.0, 50.0)
i     [50.0, 75.0)
j    [75.0, 100.1)
k    [75.0, 100.1)
dtype: category
Categories (4, interval[float64]): [[0.0, 25.0) < [25.0, 50.0) < [50.0, 75.0) < [75.0, 100.1)]

In [14]:
#레이블 지정 labels=None이 기본, False로 지정하게 되면 정수의 0부터 인덱싱한다.
print(pd.cut(s,4,labels=False))
print(pd.cut(s,4,labels=['small','medium','large','x-large']))

a    0
b    0
c    0
d    0
e    0
f    0
g    1
h    1
i    2
j    3
k    3
dtype: int64
a      small
b      small
c      small
d      small
e      small
f      small
g     medium
h     medium
i      large
j    x-large
k    x-large
dtype: category
Categories (4, object): ['small' < 'medium' < 'large' < 'x-large']

In [15]:
#소수이하 자리수
print(pd.cut(s,3,precision=1))

a     (-0.1, 33.3]
b     (-0.1, 33.3]
c     (-0.1, 33.3]
d     (-0.1, 33.3]
e     (-0.1, 33.3]
f     (-0.1, 33.3]
g     (33.3, 66.7]
h     (33.3, 66.7]
i     (33.3, 66.7]
j    (66.7, 100.0]
k    (66.7, 100.0]
dtype: category
Categories (3, interval[float64]): [(-0.1, 33.3] < (33.3, 66.7] < (66.7, 100.0]]

In [16]:
#3.이산화 pandas.qcut()
print(pd.cut(s,2))

a     (-0.1, 50.0]
b     (-0.1, 50.0]
c     (-0.1, 50.0]
d     (-0.1, 50.0]
e     (-0.1, 50.0]
f     (-0.1, 50.0]
g     (-0.1, 50.0]
h     (-0.1, 50.0]
i    (50.0, 100.0]
j    (50.0, 100.0]
k    (50.0, 100.0]
dtype: category
Categories (2, interval[float64]): [(-0.1, 50.0] < (50.0, 100.0]]

In [18]:
print(pd.cut(s,4,labels=['Q1','Q2','Q3','Q4'],retbins=True))

(a    Q1
b    Q1
c    Q1
d    Q1
e    Q1
f    Q1
g    Q2
h    Q2
i    Q3
j    Q4
k    Q4
dtype: category
Categories (4, object): ['Q1' < 'Q2' < 'Q3' < 'Q4'], array([ -0.1,  25. ,  50. ,  75. , 100. ]))

In [19]:
#주의할 점 :중복 데이터
s_dupl = pd.Series(data=[0,0,0,0,0,1,2,3,4,5,6],index =list('abcdefghijk'))
print(pd.qcut(s_dupl,2))

a    (-0.001, 1.0]
b    (-0.001, 1.0]
c    (-0.001, 1.0]
d    (-0.001, 1.0]
e    (-0.001, 1.0]
f    (-0.001, 1.0]
g       (1.0, 6.0]
h       (1.0, 6.0]
i       (1.0, 6.0]
j       (1.0, 6.0]
k       (1.0, 6.0]
dtype: category
Categories (2, interval[float64]): [(-0.001, 1.0] < (1.0, 6.0]]

In [21]:
print(pd.qcut(s_dupl,4,duplicates='drop'))

a    (-0.001, 1.0]
b    (-0.001, 1.0]
c    (-0.001, 1.0]
d    (-0.001, 1.0]
e    (-0.001, 1.0]
f    (-0.001, 1.0]
g       (1.0, 3.5]
h       (1.0, 3.5]
i       (3.5, 6.0]
j       (3.5, 6.0]
k       (3.5, 6.0]
dtype: category
Categories (3, interval[float64]): [(-0.001, 1.0] < (1.0, 3.5] < (3.5, 6.0]]

In [23]:
print(pd.qcut(s_dupl,4,duplicates='drop',labels=['a','b','c']).value_counts())
res = pd.qcut(s_dupl,4,duplicates='drop',labels=['a','b','c']).value_counts()

a    6
c    3
b    2
dtype: int64

In [24]:
data = [x**2 for x in range(11)]
data

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [27]:
my_cut =pd.cut(data,3,labels=['A','B','C'])
list(my_cut)

['A', 'A', 'A', 'A', 'A', 'A', 'B', 'B', 'B', 'C', 'C']

In [32]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression

#데이터로드
df = sns.load_dataset('titanic').drop(['embarked'],axis=1)

#나이를 추출해서 cut함수를 이용해서 범주값을 사용해보자
print(df['age'].describe())
print(pd.cut(df['age'],5,precision=0))

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: age, dtype: float64
0      (16.0, 32.0]
1      (32.0, 48.0]
2      (16.0, 32.0]
3      (32.0, 48.0]
4      (32.0, 48.0]
           ...
886    (16.0, 32.0]
887    (16.0, 32.0]
888             NaN
889    (16.0, 32.0]
890    (16.0, 32.0]
Name: age, Length: 891, dtype: category
Categories (5, interval[float64]): [(0.0, 16.0] < (16.0, 32.0] < (32.0, 48.0] < (48.0, 64.0] < (64.0, 80.0]]

In [33]:
print(pd.cut(df['age'],5,precision=0).value_counts(sort=False,dropna=False))

(0.0, 16.0]     100
(16.0, 32.0]    346
(32.0, 48.0]    188
(48.0, 64.0]     69
(64.0, 80.0]     11
NaN             177
Name: age, dtype: int64

In [37]:
df['Age_bin']=pd.cut(df['age'],5,labels=False)
df['Age_bin']

0      1.0
1      2.0
2      1.0
3      2.0
4      2.0
      ...
886    1.0
887    1.0
888    NaN
889    1.0
890    1.0
Name: Age_bin, Length: 891, dtype: float64